<div class="trainingbox">

  <h2>Training sessions</h2>

  <div class="all-sessions">
    <hr>
    <% @trainings.each do |training| %>
      <p> <%= training.date.strftime('%d' ' %B' ' %Y') %></p>
      <p> From: <%= training.begining.to_s(:time)   %> to: <%= training.end_time.to_s(:time) %> </p>
      <p> Address : <%= training.address %></p>


    <div class="training-links">


      <%#= link_to "cancel" , destroy_training_path %>
      <%= link_to "edit" , edit_training_path(training.user.id, training.id)  %>
    </div><hr>
    <% end %>




  </div>

  <%= link_to "Add a training", new_training_path %>



</div>
