<div class="createbox">


<h2>New Session</h2>

  <div class="createform">

    <p class="createsession">
      <%= simple_form_for @training do |f| %>
        <%= f.input :date %>
        <%= f.input :begining %>
        <%= f.input :end_time %>
        <%= f.input :address %>
        <%= f.button :submit %>
        <% f.input :user_id, input_html: {value: params[:user_id]} %>
        <% f.input :training_id, input_html: {value: params[:training_id]} %>
      <% end %>
    </p>
  </div>

</div>
