Find a partner

<br>
<br>

<% @hosts.each do |host| %>
  <% if host.user.id != current_user.id %>
    <div class="host-card">
      <%= host.firstname %>
      <%= host.lastname %>
      <%= host.address %>
      <%= host.description %>
      <br>


      <%#= link_to "edit", edit_host_path(host) %>
    <%#else %>
      <%= link_to "contact", "#"%>
    <% end %>

  </div>
<% end %>
<br>

<div class="cardsss">
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1666121809/click%20n%20pole/Sans_titre_-_2022-10-18T213609.555_ahqhql.png', width:'200' %>
</div>
